@model Interfaces.Models.AUser

<script>
    $(function () {

        $("#detalsUserNotices").load('@Url.Action("GetUserNotices","ManageUser")', { idUser:@Model.idUser});
    });

    function EditUser(i) {

        $('#dataEdit').load('@Url.Action("EditUser")', { idUser: i });
        $('#dataView').hide();
    }

</script>


<h3 class="text-center"><strong> @Model.ToString() </strong></h3>

<div class="row">
    
    <table>
        <tr>
            <td valign="top">
                <img class="img-rounded" src="@ViewBag.img" style="margin-right: 50px" /> 
            </td>
            
            
            <td>
                <div id="dataView">

                    <h4>@Html.DisplayNameFor(m => Model.FirstName): @Model.FirstName</h4>
                    <h4>@Html.DisplayNameFor(m => Model.LastName): @Model.LastName</h4>
                    <h4>@Html.DisplayNameFor(m => Model.MiddleName): @Model.MiddleName</h4>
                    <h4>@Html.DisplayNameFor(m => Model.Email): @Model.Email</h4>

                    <button class="btn btn-success" onclick="EditUser(@Model.idUser)">Редактировать</button>
                </div>    
                
                <div id="dataEdit"></div>

            </td>
        </tr>

    </table>
   
   

    

</div>


<div class="row" style="margin-top: 11px">
    <div class="panel-group" id="accordion2">
        <div class="panel panel-default">
            <div class="panel-heading" style="padding: 0">
                <div class="panel-title" align="center" >
                    <a data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" class="btn btn-block">
                        <h3 style="margin: 3px;"><small>Подписки </small></h3>
                    </a>
                </div>
            </div>
            <div id="collapseOne2" class="panel-collapse collapse">
                <div class="panel-body">
                    <div id="detalsUserNotices"></div>
                </div>
            </div>
        </div>
    </div>
</div>