@model Interfaces.Models.AUser

<script>

    function ret() {
        $('#dataEdit').empty();
        $('#dataView').show();
    }

</script>


@using (Html.BeginForm("SaveUser", "ManageUser", FormMethod.Post))
{
   

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(user => user.idUser)

    <div class="form-group">
        @*@Html.DisplayNameFor(m => Model.FirstName)*@
        @Html.LabelFor(user => user.FirstName, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(user => user.FirstName, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(user => user.FirstName, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        
        @Html.LabelFor(user => user.LastName, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(user => user.LastName, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(user => user.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(user => user.MiddleName, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(user => user.MiddleName, htmlAttributes: new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(user => user.Email, htmlAttributes: new { @class = "control-label" })
        @Html.TextBoxFor(user => user.Email, htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(user => user.Email)
    </div>

    <a href="#userRemoveModal" class="btn btn-danger" data-toggle="modal">Удалить</a>
    <button class="btn btn-success" type="submit">Сохранить</button>
    if(ViewBag.btnRetunn) {
         <button class="btn" onclick="ret()">Назад</button>
    }
}



<div id="userRemoveModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Удалить пользователя @Model.ToString()?</h4>
            </div>
            <div class="modal-body">
                <h4>@Html.DisplayNameFor(m => Model.FirstName): @Model.FirstName</h4>
                <h4>@Html.DisplayNameFor(m => Model.LastName): @Model.LastName</h4>
                <h4>@Html.DisplayNameFor(m => Model.MiddleName): @Model.MiddleName</h4>
                <h4>@Html.DisplayNameFor(m => Model.Email): @Model.Email</h4>
            </div>
            <div class="modal-footer">
                @using (Html.BeginForm("RemoveUser","ManageUser",FormMethod.Post))
                {
                    @Html.Hidden("idUser",Model.idUser)
                <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                <button class="btn btn-primary" type="submit">Удалить</button>
                }
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
