@model  IEnumerable<Interfaces.Models.Notice.NoticeSendView>

@{
    ViewBag.Title = "Рассылка уведомлений";
}

<h2>Уведомления</h2>


<script>
    function SendNotice(idBtn,idDate, idNotice) {
        var btn = $(idBtn);
        btn.button('loading');
        $(idDate).text("Рассылается...");

        $.get(
            '@Url.Action("SendNotice")',
            {
                noticeId: idNotice
            },
            function (data) {
                $(idDate).text(data);
                btn.button('reset');
            }
        );
    }
</script>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataLastSended)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        string d = item.DataLastSended == new DateTime() ? " Не рассылалось" : item.DataLastSended.ToString();
        string idDate = string.Concat("dataSend", item.idNotice);
        string idBtn = string.Concat("btnSend", item.idNotice);
        <tr>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>

            <td id="@idDate">@d</td>
            <td>
                <button id="@idBtn" class="btn btn-default" onclick="SendNotice(@idBtn,@idDate,@item.idNotice)">Разослать</button>
            </td>
        </tr>
    }

</table>
