@model Interfaces.Models.Notice.Notice

@{
    ViewBag.Title = "Удаление";
}



<h3>Удалить уведомление?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        

        <dd>
            @Html.DisplayFor(model => model.idNotice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Вернуться к списку", "Index")
        </div>
    }
</div>
